<div class="row justify-content-between ">
    <div class="col-lg sticky-top">
        <div style="background-color: white;">
            <h2 id="proyectModalLabel">{{proyectName}}</h2>
            <section class="mb-3 pb-2">
                <a [href]="gitHubURL" target="_blank" class="a-project">
                    <i class="bi bi-github"></i>
                    Github repository
                </a>
            </section>
        </div>
    </div>

    <div class="clearfix pb-5 my-4">
        <h4 class="mb-4 subtitle">Random Users API</h4>
        <div class="col-lg-8
             col-12 text-lg-end float-lg-end ms-lg-3 pb-3 pb-lg-0">
            <img src=".\assets\images\exercises\random_users.webp" alt="Sample image" class="img-fluid">
        </div>
        <p>
            This is an exercise that fetches data from the <a href="https://randomuser.me/" target="_blank"
                class="a-link">randomuser.me</a> API and displays it in a list. It
            also
            allows for managing and sorting the data in the list.
        </p>
        <section class="mb-3 pb-2">
            <a [href]="randomUsersWebApp" target="_blank" class="a-project">
                <i class="bi bi-globe"></i>
                Deployed web
            </a>
        </section>
        <section class="mb-3 pb-2">
            <a [href]="randomUsersAngular" target="_blank" class="a-project">
                <i class="angular_icon"></i>
                Angular repository
            </a>
        </section>
        <section class="mb-3 pb-2">
            <a [href]="randomUsersAndroid" target="_blank" class="a-project">
                <i class="bi bi-android"></i>
                Android repository
            </a>
        </section>
    </div>
    <div class="clearfix pb-5 my-4">
        <h4 class="mb-4 subtitle">Mercado Libre API</h4>
        <div class="col-lg-8
             col-12 text-lg-end float-lg-end ms-lg-3 pb-3 pb-lg-0">
            <img src=".\assets\images\exercises\meli.webp" alt="Sample image" class="img-fluid">
        </div>
        <p>
            This exercise fetches data from the <a href="https://developers.mercadolibre.com.mx/" target="_blank"
                class="a-link">mercadolibre.com</a>
            API by querying an article in the store, and displays a list of the
            results. It also routes to an article details page by clicking a result.
        </p>
        <section class="mb-3 pb-2">
            <a [href]="meliWebApp" target="_blank" class="a-project">
                <i class="bi bi-globe"></i>
                Deployed web
            </a>
        </section>
        <section class="mb-3 pb-2">
            <a [href]="meliAngular" target="_blank" class="a-project">
                <i class="angular_icon"></i>
                Angular repository
            </a>
        </section>
        <section class="mb-3 pb-2">
            <a [href]="meliAndroid" target="_blank" class="a-project">
                <i class="bi bi-android"></i>
                Android repository
            </a>
        </section>
    </div>

    <div class="clearfix pb-5 my-4">
        <h4 class="mb-4 subtitle">And this site</h4>
        <div class="col-lg-8
             col-12 text-lg-end float-lg-end ms-lg-3 pb-3 pb-lg-0">
            <img src=".\assets\images\exercises\web_portfolio.webp" alt="Sample image" class="img-fluid">
        </div>
        <p>
            I made this website as a part of my learning in web development, and as an exercise to implement a
            responsive
            design.
        </p>
        <section class="mb-3 pb-2">
            <a [href]="randomUsersAngular" target="_blank" class="a-project">
                <i class="angular_icon"></i>
                Angular repository
            </a>
        </section>
    </div>
</div>