<div class="row justify-content-between ">
    <div class="col-lg sticky-top">
        <div style="background-color: white;">
            <h2 id="proyectModalLabel">{{proyectName}}</h2>
            <section class="mb-3 pb-2">
                <a [href]="gitHubURL" target="_blank" class="a-project">
                    <i class="bi bi-github"></i>
                    Github repository
                </a>
            </section>
        </div>
    </div>

    <div class="my-4">
        <h4 class="mb-4 subtitle">Random Users API</h4>
        <p>
            This is an exercise that fetches data from the https://randomuser.me API and displays it in a list. It also
            allows for managing and sorting the data in the list.
        </p>
        <section class="mb-3 pb-2">
            <a [href]="randomUsersWebApp" target="_blank" class="a-project">
                <i class="bi bi-globe"></i>
                Deployed web aplication
            </a>
        </section>
        <section class="mb-3 pb-2">
            <a [href]="randomUsersAngular" target="_blank" class="a-project">
                <i class="angular_icon"></i>
                Angular project repository.
            </a>
        </section>
        <section class="mb-3 pb-2">
            <a [href]="randomUsersAndroid" target="_blank" class="a-project">
                <i class="bi bi-android"></i>
                Android project repository.
            </a>
        </section>
    </div>
    <div class="my-4">
        <h4 class="mb-4 subtitle">Mercado Libre API</h4>
        <p>
            This exercise fetches data from the https://api.mercadolibre.com API and displays it in a list. It also
            allows for managing and sorting the data in the list.
        </p>
        <section class="mb-3 pb-2">
            <a [href]="meliWebApp" target="_blank" class="a-project">
                <i class="bi bi-globe"></i>
                Deployed web aplication
            </a>
        </section>
        <section class="mb-3 pb-2">
            <a [href]="meliAngular" target="_blank" class="a-project">
                <i class="angular_icon"></i>
                Angular project repository.
            </a>
        </section>
        <section class="mb-3 pb-2">
            <a [href]="meliAndroid" target="_blank" class="a-project">
                <i class="bi bi-android"></i>
                Android project repository.
            </a>
        </section>
    </div>

    <div class="my-4">
        <h4 class="mb-4 subtitle">And this site</h4>
        <p>
            I made this website as a part of my learning in web development, and as an exercise to implement a
            responsive
            design.
        </p>
    </div>
</div>