.a-link {
    font-family: RobotoMono-Regular;
    font-size: medium;
    color: black;
    text-align: left;
    padding: 0;
}

.angular_icon {
    width: 16px; 
    height: 22.5px;
    background-image: url('src/assets/images/angular.svg'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block; 
}