<div class="row justify-content-between ">
    <div class="col-lg sticky-top">
        <div style="background-color: white;">
            <h2 id="proyectModalLabel">{{proyectName}}</h2>
            <section class="mb-3 pb-2">
                <a [href]="gitHubURL" target="_blank" class="a-project">
                    <i class="bi bi-github"></i>
                    Github repository
                </a>
                <a [href]="releaseURL" target="_blank" class="a-project">
                    <i class="bi bi-google-play"></i>
                    Play store release
                </a>
            </section>
        </div>
    </div>
    <div class="clearfix pb-5">
        <div class="col-lg-4
             col-5 text-lg-end float-lg-end ms-lg-3 pb-3 pb-lg-0">
            <img src=".\assets\images\project-graphic-ruler\graphic_ruler_icon.svg" alt="App icon" class="img-fluid">
        </div>
        <p>
            Although there are already other applications in the Play Store that emulate a real-value ruler, the
            existing ones appear to be designed for general users and generic uses. That's why I decided to design and
            develop a tool more focused on the way architects and designers use this type of tool.
        </p>
        <p>
            The key aspects for focusing the design were:
        </p>
        <ul style="font-family: RobotoMono-Regular;">
            <li>A set of commonly used and easily configurable scales.</li>
            <li>A calculator for converting values.</li>
            <li>Graphic scales for visual reference.</li>
            <li>A simple and user-friendly interface.</li>
        </ul>
    </div>

    <div class="container px-2 pb-5">
        <div class="row">
            <div class="col-6 col-lg-3 p-3">
                <img src=".\assets\images\project-graphic-ruler\graphic_ruler_ss1.webp" alt="App screen shot"
                    class="img-fluid">
            </div>
            <div class="col-6 col-lg-3 p-3">
                <img src=".\assets\images\project-graphic-ruler\graphic_ruler_ss2.webp" alt="App screen shot"
                    class="img-fluid">
            </div>
            <div class="col-6 col-lg-3 p-3">
                <img src=".\assets\images\project-graphic-ruler\graphic_ruler_ss3.webp" alt="App screen shot"
                    class="img-fluid">
            </div>
            <div class="col-6 col-lg-3 p-3">
                <img src=".\assets\images\project-graphic-ruler\graphic_ruler_ss4.webp" alt="App screen shot"
                    class="img-fluid">
            </div>
        </div>
    </div>

    <h4 class="mb-4">Application development</h4>
    <p>
        The development was an exercise I carried out while studying software architecture (MV*) and software design
        theory. This is the main reason why the code may seem 'over-designed' or excessively structured. My goal was to
        put into practice object-oriented design concepts, as well as the distribution of responsibilities and
        interaction among the packages that make up an MVC architecture.
    </p>
    <p>

        The application uses the device's resources to calculate real measurements based on pixel density and device
        pixel height.
    </p>
    <pre>
        <code>{{projectCode}}</code>
    </pre>
    <p>

        Because this application displays a ruler based on the metric system, the data obtained in inches is converted
        and managed from the application's core packages (models). The intention is for the tool to support the English
        system in the future and to be able to add new scales. You can review the code <a [href]="gitHubURL"
            target="_blank" class="a-project m-0">here</a>.
    </p>
</div>