<!-- <div  style="background-color: bisque;"> -->
<div class="mb-5">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img"
        aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
        <rect width="100%" height="100%" fill="#868e96"></rect>
    </svg>
    <div class="card-body pt-3">
        <h5 style="font-family: RobotoMono-Bold;" class="card-title">Proyect title</h5>
        <p style="font-family: RobotoMono-Regular;" class="card-text">Some quick example text to build on the card title
            and make up the bulk of the card's
            content.</p>
        <!-- <a href="#" class="stretched-link"></a> -->
    </div>
</div>

<div class="mb-5">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img"
        aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
        <rect width="100%" height="100%" fill="#868e96"></rect>
    </svg>
    <div class="card-body pt-3">
        <h5 style="font-family: RobotoMono-Bold;" class="card-title">Proyect title</h5>
        <p style="font-family: RobotoMono-Regular;" class="card-text">Some quick example text to build on the card title
            and make up the bulk of the card's
            content.</p>
        <!-- <a href="#" class="stretched-link"></a> -->
    </div>
</div>

<div class="mb-5">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img"
        aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
        <rect width="100%" height="100%" fill="#868e96"></rect>
    </svg>
    <div class="card-body pt-3">
        <h5 style="font-family: RobotoMono-Bold;" class="card-title">Proyect title</h5>
        <p style="font-family: RobotoMono-Regular;" class="card-text">Some quick example text to build on the card title
            and make up the bulk of the card's
            content.</p>
        <!-- <a href="#" class="stretched-link"></a> -->
    </div>
</div>