<ul style="list-style-type: none; padding-left: 0;">
    <li class="mb-5">
        <div class="row proyect-li py-4 px-3" (click)="showProject('Multiplatform Game')">
            <div class="col-md">
                <h4 style="font-family: RobotoMono-Bold;" class="card-title">Multiplatform Game</h4>
                <p>Java, TypeScript, MySQL, <br> SQLite, Angular, <br> AndroidStudio.</p>
            </div>
            <div class="col">
                <p style="font-family: RobotoMono-Regular;" class="card-text">
                    No one shall be subjected to arbitrary arrest, detention or
                    exile. Everyone is entitled in full equality to a fair and public hearing by an independent and
                    impartial tribunal, in the determination of his rights and obligations and of any criminal charge
                    against him.
                </p>
            </div>
        </div>
    </li>
    <li class="mb-5">
        <div class="row proyect-li py-4 px-3" (click)="showProject('Graphic Ruler')">
            <div class="col-md">
                <h4 style="font-family: RobotoMono-Bold;" class="card-title">Graphic Ruler</h4>
                <p>Java, AndroidStudio.</p>
            </div>
            <div class="col">
                <p style="font-family: RobotoMono-Regular;" class="card-text">
                    No one shall be subjected to arbitrary arrest, detention or
                    exile. Everyone is entitled in full equality to a fair and public hearing by an independent and
                    impartial tribunal, in the determination of his rights and obligations and of any criminal charge
                    against him.
                </p>
            </div>
        </div>
    </li>
    <li class="mb-5">
        <div class="row proyect-li py-4 px-3" (click)="showProject('Listagram')">
            <div class="col-md">
                <h4 style="font-family: RobotoMono-Bold;" class="card-title">Listagram</h4>
                <p>Java, SQLite<br> AndroidStudio.</p>
            </div>
            <div class="col">
                <p style="font-family: RobotoMono-Regular;" class="card-text">
                    No one shall be subjected to arbitrary arrest, detention or
                    exile. Everyone is entitled in full equality to a fair and public hearing by an independent and
                    impartial tribunal, in the determination of his rights and obligations and of any criminal charge
                    against him.
                </p>
            </div>
        </div>
    </li>
</ul>




<!-- Proyect Modal -->
<div class="modal fade" id="proyectModal" tabindex="-1" aria-labelledby="proyectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="proyectModalLabel">{{proyectName}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>  
            <div class="modal-body">
                <div id="bodyModal">
                    {{proyectName}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div>
    <p style="font-family: RobotoMono-Regular;" class="card-text">
        No one shall be subjected to arbitrary arrest, detention or
        exile. Everyone is entitled in full equality to a fair and public hearing by an independent and
        impartial tribunal, in the determination of his rights and obligations and of any criminal
        charge
        against him.
    </p>
    <p style="font-family: RobotoMono-Regular;" class="card-text">
        No one shall be subjected to arbitrary arrest, detention or
        exile. Everyone is entitled in full equality to a fair and public hearing by an independent and
        impartial tribunal, in the determination of his rights and obligations and of any criminal
        charge
        against him.
    </p>
    <p style="font-family: RobotoMono-Regular;" class="card-text">
        No one shall be subjected to arbitrary arrest, detention or
        exile. Everyone is entitled in full equality to a fair and public hearing by an independent and
        impartial tribunal, in the determination of his rights and obligations and of any criminal
        charge
        against him.
    </p>
    <p style="font-family: RobotoMono-Regular;" class="card-text">
        No one shall be subjected to arbitrary arrest, detention or
        exile. Everyone is entitled in full equality to a fair and public hearing by an independent and
        impartial tribunal, in the determination of his rights and obligations and of any criminal
        charge
        against him.
    </p>
    <p style="font-family: RobotoMono-Regular;" class="card-text">
        No one shall be subjected to arbitrary arrest, detention or
        exile. Everyone is entitled in full equality to a fair and public hearing by an independent and
        impartial tribunal, in the determination of his rights and obligations and of any criminal
        charge
        against him.
    </p>
    <p style="font-family: RobotoMono-Regular;" class="card-text">
        No one shall be subjected to arbitrary arrest, detention or
        exile. Everyone is entitled in full equality to a fair and public hearing by an independent and
        impartial tribunal, in the determination of his rights and obligations and of any criminal
        charge
        against him.
    </p>
    <p style="font-family: RobotoMono-Regular;" class="card-text">
        No one shall be subjected to arbitrary arrest, detention or
        exile. Everyone is entitled in full equality to a fair and public hearing by an independent and
        impartial tribunal, in the determination of his rights and obligations and of any criminal
        charge
        against him.
    </p>
    <p style="font-family: RobotoMono-Regular;" class="card-text">
        No one shall be subjected to arbitrary arrest, detention or
        exile. Everyone is entitled in full equality to a fair and public hearing by an independent and
        impartial tribunal, in the determination of his rights and obligations and of any criminal
        charge
        against him.
    </p>
    <p style="font-family: RobotoMono-Regular;" class="card-text">
        No one shall be subjected to arbitrary arrest, detention or
        exile. Everyone is entitled in full equality to a fair and public hearing by an independent and
        impartial tribunal, in the determination of his rights and obligations and of any criminal
        charge
        against him.
    </p>
    <p style="font-family: RobotoMono-Regular;" class="card-text">
        No one shall be subjected to arbitrary arrest, detention or
        exile. Everyone is entitled in full equality to a fair and public hearing by an independent and
        impartial tribunal, in the determination of his rights and obligations and of any criminal
        charge
        against him.
    </p>
    <p style="font-family: RobotoMono-Regular;" class="card-text">
        No one shall be subjected to arbitrary arrest, detention or
        exile. Everyone is entitled in full equality to a fair and public hearing by an independent and
        impartial tribunal, in the determination of his rights and obligations and of any criminal
        charge
        against him.
    </p>
    <p style="font-family: RobotoMono-Regular;" class="card-text">
        No one shall be subjected to arbitrary arrest, detention or
        exile. Everyone is entitled in full equality to a fair and public hearing by an independent and
        impartial tribunal, in the determination of his rights and obligations and of any criminal
        charge
        against him.
    </p>
    <p style="font-family: RobotoMono-Regular;" class="card-text">
        No one shall be subjected to arbitrary arrest, detention or
        exile. Everyone is entitled in full equality to a fair and public hearing by an independent and
        impartial tribunal, in the determination of his rights and obligations and of any criminal
        charge
        against him.
    </p>
    <p style="font-family: RobotoMono-Regular;" class="card-text">
        No one shall be subjected to arbitrary arrest, detention or
        exile. Everyone is entitled in full equality to a fair and public hearing by an independent and
        impartial tribunal, in the determination of his rights and obligations and of any criminal
        charge
        against him.
    </p>
    <p style="font-family: RobotoMono-Regular;" class="card-text">
        No one shall be subjected to arbitrary arrest, detention or
        exile. Everyone is entitled in full equality to a fair and public hearing by an independent and
        impartial tribunal, in the determination of his rights and obligations and of any criminal
        charge
        against him.
    </p>
    <p style="font-family: RobotoMono-Regular;" class="card-text">
        No one shall be subjected to arbitrary arrest, detention or
        exile. Everyone is entitled in full equality to a fair and public hearing by an independent and
        impartial tribunal, in the determination of his rights and obligations and of any criminal
        charge
        against him.
    </p>
    <p style="font-family: RobotoMono-Regular;" class="card-text">
        No one shall be subjected to arbitrary arrest, detention or
        exile. Everyone is entitled in full equality to a fair and public hearing by an independent and
        impartial tribunal, in the determination of his rights and obligations and of any criminal
        charge
        against him.
    </p>
    <p style="font-family: RobotoMono-Regular;" class="card-text">
        No one shall be subjected to arbitrary arrest, detention or
        exile. Everyone is entitled in full equality to a fair and public hearing by an independent and
        impartial tribunal, in the determination of his rights and obligations and of any criminal
        charge
        against him.
    </p>
</div>