.proyect-li {
    background-color: #ffffff00;
    position: relative; /* Establece una posición relativa en el elemento li */
    cursor: pointer;
}

.proyect-li::before,
.proyect-li::after {
    content: '';
    position: absolute;
    border: 2px solid transparent;
}

.proyect-li:hover::before {
    top: 0;
    left: 0;
    border-top-color: #000; /* Color de la línea superior */
    border-left-color: #000; /* Color de la línea izquierda */
    width: 20px; /* Ancho de la línea superior e izquierda */
    height: 20px; /* Altura de la línea superior e izquierda */
}

.proyect-li:hover::after {
    bottom: 0;
    right: 0;
    border-bottom-color: #000; /* Color de la línea inferior */
    border-right-color: #000; /* Color de la línea derecha */
    width: 20px; /* Ancho de la línea inferior y derecha */
    height: 20px; /* Altura de la línea inferior y derecha */
}

#openGameModal .modal-content {
    border-radius: 0; /* Establece el radio de borde en 0 para quitar el redondeo */
}