<div class="row justify-content-between ">
    <div class="col-lg sticky-top">
        <div style="background-color: white;">
            <h2 id="proyectModalLabel">{{proyectName}}</h2>
            <section class="mb-3 pb-2">
                <a [href]="gitHubURL" target="_blank" class="a-project">
                    <i class="bi bi-github"></i>
                    Github repository
                </a>
                <a [href]="releaseURL" target="_blank" class="a-project">
                    <i class="bi bi-google-play"></i>
                    Play store release
                </a>
            </section>
        </div>
    </div>
    <div class="clearfix pb-3">
        <div class="col-lg-4
             col-5 text-lg-end float-lg-end ms-lg-3 pb-3 pb-lg-0">
            <img src=".\assets\images\listagram\ic_launcher.jpg" alt="App icon" class="img-fluid">
        </div>
        <p>
            The main function of the application is to create expense lists, in order to keep a quick record and
            calculation of what has been spent. <br>
            Subsequently, I decided to add 'chat-like' lists to emulate the practice of using messaging app windows as
            personal note lists.
        </p>
        <p>
            For this first programming project/practice, I also wanted to take the opportunity to implement user
            interface and user experience design concepts since the aim for the application was to be used as easily as
            possible by family and friends from whom I could receive feedback, both on design and functionality, as well
            as any errors.
        </p>
        <p>

        </p>
        <p>
            The keys for the UX/UI design were:
        </p>
        <ul style="font-family: RobotoMono-Regular;">
            <li>UI similar to messaging apps to make it familiar.</li>
            <li>Expense lists similar to a "grocery store receipt", as it's a well-known format.</li>
            <li>An accessible color palette according to WCAG AAA.</li>
            <li>An easily memorable name.</li>
        </ul>
        <h4 class="mt-5">Color palette</h4>
        <div class="row gap-lg-4 gap-2 px-3 py-5 " style="height: 200px;">
            <div class="col p-0 d-flex align-items-center justify-content-center" style="background-color: #E60063;">
                <samp>
                    #E60063
                </samp>
            </div>
            <div class="col p-0 d-flex align-items-center justify-content-center" style="background-color: #700000;">
                <samp>
                    #700000
                </samp>
            </div>
            <div class="col p-0 d-flex align-items-center justify-content-center" style="background-color: #008575;">
                <samp>
                    #008575
                </samp>
            </div>
            <div class="col p-0 d-flex align-items-center justify-content-center" style="background-color: #003D04;">
                <samp>
                    #003D04
                </samp>
            </div>
            <div class="col p-0 d-flex align-items-center justify-content-center" style="background-color: #1976d2;">
                <samp>
                    #1976d2
                </samp>
            </div>
            <div class="col p-0 d-flex align-items-center justify-content-center" style="background-color: #7b1fa2;">
                <samp>
                    #7b1fa2
                </samp>
            </div>
        </div>
    </div>


    <div class="container pt-3 px-2 pb-5">
        <div class="row px-3">
            <div class="col-6 col-lg-3 p-0">
                <img src=".\assets\images\listagram\listagram_ss1.webp" alt="App screen shot" class="img-fluid">
            </div>
            <div class="col-6 col-lg-3 p-0">
                <img src=".\assets\images\listagram\listagram_ss2.webp" alt="App screen shot" class="img-fluid">
            </div>
            <div class="col-6 col-lg-3 p-0">
                <img src=".\assets\images\listagram\listagram_ss3.webp" alt="App screen shot" class="img-fluid">
            </div>
            <div class="col-6 col-lg-3 p-0">
                <img src=".\assets\images\listagram\listagram_ss4.webp" alt="App screen shot" class="img-fluid">
            </div>
        </div>
    </div>

    <h4 class="mb-4">Application Development</h4>
    <p>
        I developed this application while studying Java. Android applications were a good fit for practicing the
        language and, at the same time, developing something with a simple and accessible deployment to share and
        receive feedback from some users.
    </p>
    <p>
        Additionally, in this development, I also learned about the Android Studio framework, became familiar with the
        life cycle of its views (Activities/Fragments), the XML "vocabulary" it uses to declare its graphical interface
        components, and how to structure its resources.
    </p>
    <p>
        Although supported by the structure the framework establishes, the code doesn't enjoy overly clean and organized
        writing and structure since I developed it at an early stage of my learning. The code can be reviewed 
        <a [href]="gitHubURL" target="_blank" class="a-project m-0">here</a>.
    </p>
</div>