<div class="container-lg px-5 mx-auto">
    <div class="row justify-content-md-center grid gap-3">
        <div class="col-lg-5">
            <div class="sticky-lg-top pt-5">
                <h1 style="font-family: RobotoMono-Bold;">Francisco Morando</h1>
                <p style="font-family: RobotoMono-Regular;">Web and adroid developer based in México</p>
            </div>
        </div>
        <div class="col-lg-6 py-5">
            <section id="about" class="mb-5 px-3 ">
                <p style="font-family: RobotoMono-Regular;">No one shall be subjected to arbitrary arrest, detention or
                    exile. Everyone is entitled in full equality to a fair and public hearing by an independent and
                    impartial tribunal, in the determination of his rights and obligations and of any criminal charge
                    against him. No one shall be subjected to arbitrary interference with his privacy, family, home or
                    correspondence, nor to attacks upon his honour and reputation. Everyone has the right to the
                    protection
                    of the law against such interference or attacks.
                </p>
            </section>
            <section id="proyects" class="mb-5 pt-5">
                <app-proyect-card></app-proyect-card>
            </section>
        </div>

    </div>
</div>