<div class="container-lg px-4 mx-auto">
    <div class="row justify-content-md-between grid">
        <div class="col-lg-5 d-flex justify-content-between flex-column ">
            <div class="sticky-lg-top pt-5 px-3">
                <h1>Francisco Morando</h1>
                <h5 class="mb-3">Android and web developer based in México.
                </h5>
                <a href="./assets/resume.pdf" target="_blank">Here is my personal resume</a>
                <p class="mt-5 ">Tecnologies i kown: <br>
                    SpringBoot, Angular, AndroidStudio, Java, TypeScript, MySQL,
                    SQLite, Git/Github, HTML, XML.
                </p>
                <a href="https://github.com/PacoMorando/PacoMorando/blob/main/certifications.md" target="_blank" style="font-size: medium;">Certifications</a>
            </div>

            <section class="py-5 px-3 sticky-bottom">
                <a href="https://github.com/PacoMorando" target="_blank" class="icons-sn">
                    <i class="bi bi-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/paco-morando" target="_blank" class="icons-sn">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://www.behance.net/pacomorando" target="_blank" class="icons-sn">
                    <i class="bi bi-behance"></i>
                </a>
                <a href="https://www.instagram.com/pacomorando" target="_blank" class="icons-sn">
                    <i class="bi bi-instagram"></i>
                </a>
            </section>
        </div>

        <div class="col-lg-6">
            <section id="about" class="mb-5 px-3 pt-5">
                <p>
                    Self-taught, with 3 years of experience in learning and developing both frontend and backend for
                    mobile and web applications, I have found a new passion in programming.
                </p>
                <p>
                    I also have knowledge in software architecture, object-oriented design, development methodologies
                    such as RUP, and some agile methods, UML, OOP, and design patterns.
                </p>
                <p>
                    Although I still have a long way to go, I am excited to continue this journey in the professional
                    field. <br>
                </p>
                <strong>
                    Here's a glimpse of some of my personal projects:
                </strong>
            </section>
            <section id="proyects" class="pt-5">
                <app-proyects></app-proyects>
            </section>

            <section id="other-experience" class="py-5 px-3 mb-5">
                <div>
                    <h4>More about me</h4>
                    <p>
                        I'm also graduated as a Civil Architect at University of Guadalajara, a profession in which I've
                        been working
                        for 14 years
                        with large teams and leading some small teams in various areas of the profession.
                    </p>
                    <ul id="other-proyects">
                        <li>
                            <a href="https://www.behance.net/gallery/81260011/CABANA-DE-RETIRO"
                                target="_blank">Architectural</a>
                        </li>
                        <li><a href="">Design</a></li>
                        <li>
                            <a href="https://www.behance.net/gallery/82136115/Coopi" target="_blank">UX/UI</a>
                        </li>
                        <li>
                            <a href="https://www.behance.net/gallery/82082909/Ingenierias" target="_blank">Engineering Drawing</a>
                        </li>
                    </ul>
                </div>
            </section>

            <section id="other-software" class="py-5 px-3">
                <p class="mb-1">
                    <strong>Other software that i know:</strong> Photoshop, Inkscape, Illustrator, Office, 3DMax,
                    SketchUp, AutoCAD,
                    VRay
                </p>
            </section>

        </div>
    </div>
</div>