a {
    font-family: RobotoMono-Bold;
    font-size: small;
    /* display: block; */
    color: black;
    text-align: center;
    padding: 0;
    /* cursor: pointer; */
}

.icons-sn{
    margin-right: 20px;
}