<div class="container-lg px-5 mx-auto">
    <div class="row justify-content-md-between grid ">
        <div class="col-lg-5 d-flex flex-column ">
            <div class="sticky-lg-top pt-5 px-3">
                <h1 style="font-family: RobotoMono-Bold;">Francisco Morando</h1>
                <h5 class="mb-3" style="font-family: RobotoMono-Regular;">Android and web developer based in México.
                </h5>
                <a href="" style="font-size: medium;">Here is my personal resume</a>
                <p class="mt-5 " style="font-family: RobotoMono-Regular; font-size:medium;">Tecnologies i kown: <br>
                    SpringBoot, Angular, AndroidStudio, Java, TypeScript, MySQL,
                    SQLite, Git/Github, HTML, XML.
                </p>
                <a href="" style="font-size: medium;">Certifications</a>
            </div>

            <div class="sticky-lg-bottom mt-auto ">
                <section class="pb-5 pt-4 px-3">
                    <a href="https://github.com/PacoMorando" target="_blank" class="icons-sn">
                        <i class="bi bi-github" style="font-size: 1.6rem;"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/paco-morando" target="_blank" class="icons-sn">
                        <i class="bi bi-linkedin" style="font-size: 1.6rem;"></i>
                    </a>
                    <a href="https://www.behance.net/pacomorando" target="_blank" class="icons-sn">
                        <i class="bi bi-behance" style="font-size: 1.6rem;"></i>
                    </a>
                    <a href="https://www.instagram.com/pacomorando" target="_blank" class="icons-sn">
                        <i class="bi bi-instagram" style="font-size: 1.6rem;"></i>
                    </a>
                </section>
            </div>
        </div>

        <div class="col-lg-6">
            <section id="about" class="mb-5 px-3 pt-5">
                <p style="font-family: RobotoMono-Regular;">Autodidacta, con 3 años de experiencia en el aprendizaje y
                    desarrollo frontend/backend para aplicaciones móviles y web he encontrado una nueva pasión en la
                    programación.
                </p>
                <p style="font-family: RobotoMono-Regular;">
                    Fui formado como Arquitecto civil en la UDG, profesión en la que tengo 14 años
                    trabajando con equipos grandes y liderando algunos equipos pequeños en diversas áreas de la
                    profesión.
                </p>
                <p style="font-family: RobotoMono-Regular;">
                    Acutalmente estoy muy motivado en convertirme de nuevo en Arquitecto, pero esta vez de
                    software, y con un gran interés por el diseño y desarrollo de software.
                </p>
                <p style="font-family: RobotoMono-Regular;">
                    Aunque aún me queda camino por recorrer, estoy entusiasmado por poder continuar este viaje ejercicio
                    profecional. <br>
                    <strong>
                        Aquí una muestra de proyectos personales:
                    </strong>
                </p>

            </section>
            <section id="proyects" class="pt-5">
                <app-proyects></app-proyects>
            </section>
        </div>
    </div>
</div>