<ul style="list-style-type: none; padding-left: 0;">
    <li class="mb-5">
        <div class="row proyect-li py-4 px-3" (click)="showProject('Multiplatform Game')">
            <div class="col-md">
                <h4 class="card-title">Multiplatform Game</h4>
                <p>Java, TypeScript, MySQL, <br> SQLite, AndroidStudio, <br> Angular, SpringBoot.</p>
            </div>
            <div class="col">
                <p class="card-text">
                    Exercise, a result of my learning in architecture and software design. This project is based on a
                    modular design, where the application core/business logic is an independent module that exposes the
                    corresponding interfaces so it can be implemented by different technologies for viewing and
                    persistence.
                </p>
            </div>
        </div>
    </li>
    <li class="mb-5">
        <div class="row proyect-li py-4 px-3" (click)="showProject('Graphic Ruler')">
            <div class="col-md">
                <h4 class="card-title">Graphic Ruler</h4>
                <p>Java, AndroidStudio.</p>
            </div>
            <div class="col">
                <p class="card-text">
                    An application that uses the system information of the device to draw a ruler with 'physical'
                    accuracy. <br> I created this app imagining a tool that could be useful and practical for me as an
                    architect, so it could also be worthwhile for other architects and designers.
                </p>
            </div>
        </div>
    </li>
    <li class="mb-5">
        <div class="row proyect-li py-4 px-3" (click)="showProject('Listagram')">
            <div class="col-md">
                <h4 class="card-title">Listagram</h4>
                <p>Java, SQLite<br> AndroidStudio.</p>
            </div>
            <div class="col">
                <p class="card-text">
                    This was my first experience programming a complete and functional application. <br>The decision to
                    make a mobile app was because I wanted other people to be able to download and use it easily so
                    I could receive feedback.
                </p>
            </div>
        </div>
    </li>
    <li class="mb-5">
        <div class="row proyect-li py-4 px-3" style="cursor: default;">
            <div class="col-md">
                <h4 class="card-title">This site</h4>
                <p>Angular, TypeScript,<br> Bootstrap.</p>
            </div>
            <div class="col">
                <p class="card-text">
                    I made this website as a part of my learning in web development, and as an exercise to implement a
                    responsive design.
                </p>
            </div>
        </div>
    </li>
</ul>


<!-- Proyect Modal -->
<div class="modal fade" id="proyectModal" tabindex="-1" aria-labelledby="proyectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">

            <div class="modal-header">
                <h1 id="proyectModalLabel">{{proyectName}}</h1>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <ng-container *ngComponentOutlet="componentSlected"></ng-container>
            </div>

            <div class="modal-footer pt-0">
                <div class="d-flex flex-row-reverse justify-content-between">
                    <button type="button" class="btn p-0" data-bs-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>