<div class="row">
    <div class="col-lg sticky-top">
        <div style="background-color: white;">
            <h2 id="proyectModalLabel">{{proyectName}}</h2>
            <section class="mb-3 pb-2">
                <a [href]="gitHubURL" target="_blank" class="a-project">
                    <i class="bi bi-github"></i>
                    Github repository
                </a>
                <a [href]="releaseURL" target="_blank" class="a-project">
                    <i class="bi bi-google-play"></i>
                    Play store release
                </a>
            </section>
        </div>
    </div>
    <div class="clearfix pb-5">
        <div class="col-lg-5 col-10 text-lg-end float-lg-end ms-lg-3 pb-3 pb-lg-0">
            <img src=".\assets\images\mastermind\master_mind_logo.svg" alt="App icon" class="img-fluid">
            <div class="container p-lg-5 py-5 px-4 pb-4">
                <div class="row justify-content-between">
                    <div class="col-2 p-1">
                        <img src=".\assets\images\mastermind\circle_r.svg" alt="" class="img-fluid ">
                    </div>
                    <div class="col-2 p-1">
                        <img src=".\assets\images\mastermind\circle_b.svg" alt="" class="img-fluid">
                    </div>
                    <div class="col-2 p-1">
                        <img src=".\assets\images\mastermind\circle_c.svg" alt="" class="img-fluid">
                    </div>
                    <div class="col-2 p-1">
                        <img src=".\assets\images\mastermind\circle_m.svg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <p>
            The exercise aim was to learn how to design systems open to the extension of both deployment as well as
            requirements implementing a modular architectural design. <br>
            It also puts into practice my studies in object-oriented design, design patterns, software architecture, and
            development methodologies.
        </p>
        <p>
            As a result of this, it is possible to use the same code to develop a console, an android application and a
            Rest API that can be consumed by a web application.
        </p>
        <p class="mb-5">
            <strong>Note:</strong> <br>
            Since the <a href="https://es.wikipedia.org/wiki/Mastermind" target="_blank" class="a-project m-0">game</a>
            has very simple rules, the "undo/redo" use cases were added. Although they make the game lose the sense,
            they were added to complicate the system a little more and have the chance of putting into practice some
            design patterns.

        </p>
        <h4 class="mb-4">Application development</h4>
        <p>
            The core of the application was developed in Java. This module contains the model logic and a layer of
            controllers that are responsible for controlling the flow of program execution, as well as managing data
            entry and exit of the application. <br>
            The core of the application is agnostic to thetechnologies of view and persistence, which is why controllers
            are coupled to interfaces of the view and persistence layers (DAO), within same component, which must be
            implemented by each corresponding technology.
        </p>
    </div>

    <div class="clearfix pb-5">
        <div class="col-lg-5 col-10 text-lg-end float-lg-start me-lg-3 pb-3 py-lg-4">
            <img src=".\assets\images\mastermind\master_mind_core_component.svg" alt="" class="img-fluid">
        </div>
        <p>
            <a [href]=gitHubCoreURL target="_blank" class="a-project m-0">The application core</a> is packaged to be
            imported as a maven dependency. <br>
            This component exposes two interfaces, one for the view technology and another for the persistence.
        </p>
        <p>
            For example,<a [href]=gitHubConsoleURL target="_blank" class="a-project m-0">the console application</a>
            implements
            views to display a text-based dashboard that shows the
            messages with the information extracted from the core component, thus the implementation
            It is only responsible for printing messages and validating user input data. To implement the persistence it
            uses FileWriter to save game data as plain text.
        </p>
    </div>

    <p>
        <a [href]=gitHubAndroidURL target="_blank" class="a-project m-0">The android application</a> uses its view
        technology (Activities, Framents) and SQLite for the persistence of games.
        <br>
        In the case of web distribution, I developed a <a [href]=gitHubAPIURL target="_blank" class="a-project m-0">Rest
            API</a> using SpringBoot. The API implements the view interface from the core (maven dependency) as "end
        points" that are exposed to be consumed by an <a [href]=gitHubWebURL target="_blank"
            class="a-project m-0">application website</a> that was developed in Angular. In this way the logic and
        control of execution flow remains in the backend.
    </p>

    <div class="container px-2 pb-5">
        <div class="row justify-content-evenly align-items-end gap-4">
            <div class="col-8 col-lg-4 p-3">
                <img src=".\assets\images\mastermind\master_mind_movil_client.svg" alt="Component diagrama"
                    class="img-fluid">
            </div>
            <div class="col-8 col-lg-4 p-3">
                <img src="..\assets\images\mastermind\master_mind_web_client.svg" alt="Component diagrama"
                    class="img-fluid">
            </div>
        </div>
    </div>

    <div class="container px-2 py-4">
        <div class="row px-3">
            <strong class="p-3 ps-0">Movil application</strong>
            <div class="col-6 col-lg-3 py-3 px-0">
                <img src=".\assets\images\mastermind\mm_ss1.webp" alt="App screen shot" class="img-fluid">
            </div>
            <div class="col-6 col-lg-3 py-3 px-0">
                <img src=".\assets\images\mastermind\mm_ss2.webp" alt="App screen shot" class="img-fluid">
            </div>
            <div class="col-6 col-lg-3 py-3 px-0">
                <img src=".\assets\images\mastermind\mm_ss3.webp" alt="App screen shot" class="img-fluid">
            </div>
            <div class="col-6 col-lg-3 py-3 px-0">
                <img src=".\assets\images\mastermind\mm_ss4.webp" alt="App screen shot" class="img-fluid">
            </div>
        </div>
    </div>

    <div class="container px-2 py-4">
        <div class="row">
            <strong class="p-3">Web application</strong>
            <div class="col-12 col-lg-6 p-3">
                <img src=".\assets\images\mastermind\mm_ss_web1.webp" alt="App screen shot" class="img-fluid">
            </div>
            <div class="col-12 col-lg-6 p-3">
                <img src=".\assets\images\mastermind\mm_ss_web2.webp" alt="App screen shot" class="img-fluid">
            </div>
        </div>
    </div>
</div>