.r {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #D72D3E;
    /* max-width: 100%; */
  }
  
  .g {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #5C9325;
  }
  
  .b {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #47469B;
  }
  
  .c {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #259FA7;
  }
  
  .y {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #BB8E11;
  }
  
  .m {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #DB66C6;
  }

  .ts {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #DB66C6;
   
  }