  @font-face {
    font-family: 'RobotoMono-Bold';
    src: url(".\assets\fonts\Roboto_Mono\RobotoMono-Bold.ttf");
  }
  
  @font-face {
    font-family: 'RobotoMono-Regular';
    src: url(".\assets\fonts\Roboto_Mono\RobotoMono-Regular.ttf");
  }
