  @font-face {
    font-family: 'RobotoMono-Bold';
    src: url(".\assets\fonts\Roboto_Mono\RobotoMono-Bold.ttf");
  }

  @font-face {
    font-family: 'RobotoMono-Regular';
    src: url(".\assets\fonts\Roboto_Mono\RobotoMono-Regular.ttf");
  }

  p,
  strong,
  h5 {
    font-family: 'RobotoMono-Regular', monospace;
  }

  h1,
  h2,
  h4 {
    font-family: 'RobotoMono-Bold', monospace;
  }

  h4{
    text-decoration: underline;
  }

  .subtitle{
    text-decoration: none;
  }

  #link{
    cursor: pointer;
    color: black;
    text-decoration: none;
  }

  .a-project {
    color: black;
    margin-right: 20px;
    font-size: 1rem;
    display: inline-block;
    transition: transform 0.1s ease;
    font-family: RobotoMono-Bold;
    font-size: medium;
}